<% content_for(:title, t('.title')) %>
<div class="bg-white min-h-screen">
  <div class="mx-auto px-5 md:px-0 max-w-[480px] md:max-w-7xl">
    <div class="max-w-xl mx-auto">
      <div class="pt-10 pb-10 text-center">
        <%= image_tag "buddhalog_top_image.png", class: "mx-auto w-60 opacity-70" %>

        <h1 class="font-serif text-5xl font-bold text-[#2F3A4A] mt-4">
          <%= t('.discover_buddhism') %>
        </h1>

        <p class="text-gray-600 font-light tracking-wide pt-5">
          <%= t('.simple_daily_buddhist_practice') %>
        </p>

        <div class="flex flex-col items-center mt-10 space-y-3">
          <%= link_to posts_path,
            class: "w-80 md:w-100 text-center
                    bg-[#F1E9D8]
                    text-[#2F3A4A] font-medium
                    py-2.5 rounded-md
                    hover:bg-[#E8DEC8]
                    transition" do %>
            <%= t('.timeline') %>
          <% end %>

          <%= link_to new_user_registration_path,
            class: "w-80 md:w-100 text-center
                    bg-[#F6F6F6]
                    text-gray-600
                    py-2.5 rounded-md
                    hover:bg-[#EEEEEE]
                    transition" do %>
            <%= t('.sign_up') %>
          <% end %>
        </div>

        <h2 class="text-center text-lg font-semibold text-[#2F3A4A] mt-15 tracking-wide">
          仏教みつけとは？
        </h2>

        <p class="text-center text-gray-500 text-sm md:text-base leading-relaxed mt-4 max-w-lg mx-auto">
          1日1回、日常の出来事を仏教の視点で見つめ直せるサービスです。<br>
          知識がなくても、日常を通して手軽に仏教に触れることができます。
        </p>

        <h3 class="text-center text-xl font-semibold text-[#2F3A4A] pt-15">
          つかいかた
        </h3>

        <div class="mt-5 max-w-2xl mx-auto space-y-8">

          <div class="flex items-center gap-6 px-6 py-4 rounded-lg bg-[#FAFAFA]">
            <%= image_tag "theme_icon.png", class: "w-12 h-12 flex-shrink-0" %>

            <p class="text-gray-700 text-sm md:text-base leading-relaxed">
              1. 仏教をみつけるボタンでお題が表示される
            </p>
          </div>

          <div class="flex items-center gap-6 px-6 py-4 rounded-lg bg-[#FAFAFA]">
            <%= image_tag "write_icon.png", class: "w-12 h-12 flex-shrink-0" %>

            <p class="text-gray-700 text-sm md:text-base leading-relaxed">
              2. お題にあてはまる場面を日常からみつけて投稿
            </p>
          </div>


          <div class="flex items-center gap-6 px-6 py-4 rounded-lg bg-[#FAFAFA]">
            <%= image_tag "light_bulb_icon.png", class: "w-12 h-12 flex-shrink-0" %>

            <p class="text-gray-700 text-sm md:text-base leading-relaxed">
              3. 仏教の教えを自分の体験を通じて知ることが出来る<br>
              タイムラインを通じて他ユーザーの仏教観に触れられる
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>