<% content_for(:title, t('.title')) %>
<div class="bg-[#F4F4F4] min-h-screen">
  <div class="bg-white pt-10 pb-15 text-center">
    <%= image_tag "buddhalog_top_image.png", class: "mx-auto w-60 opacity-70" %>

    <h1 class="font-serif text-5xl font-bold text-[#2F3A4A] mt-4">
      <%= t('.discover_buddhism') %>
    </h1>

    <p class="text-gray-600 mt-2 font-light tracking-wide pt-5">
     <%= t('.simple_daily_buddhist_practice') %>
    </p>

    <div class="flex justify-center mt-10 space-x-4">
      <%= link_to posts_path,
        class: "bg-[#E3A83A] text-white font-medium py-2 px-6 shadow-sm hover:bg-[#cc972f] transition" do %>
        <%= t('.timeline') %> 
      <% end %>

      <%= link_to new_user_registration_path,
        class: "bg-white border border-[#E3A83A] text-[#E3A83A] font-medium py-2 px-6 shadow-sm hover:bg-[#fff6e0] transition" do %>
        <%= t('.sign_up') %>
      <% end %>
    </div>
  </div>
  
  <div class="max-w-xl mx-auto pt-10 px-5 md:px-0 max-w-[480px] md:max-w-7xl">

    <h2 class="text-center text-2xl font-semibold text-[#2F3A4A]">
      仏教みつけとは？
    </h2>

    <p class="text-center text-gray-600 text-base leading-loose mt-5">
      1日1回、日常の出来事を仏教の視点で見つめ直せるサービスです。<br>
      知識がなくても、日常を通して手軽に仏教に触れることができます。
    </p>

    <h3 class="text-center text-2xl font-semibold text-[#2F3A4A] pt-16">
      つかいかた
    </h3>

    <div class="space-y-12 mt-10">

      <div class="flex flex-col items-center text-center">
        <%= image_tag "buddhalog_theme_image.png",
             class: "mx-auto w-32 rounded-xl shadow-sm" %>

        <p class="text-gray-700 text-base mt-4 leading-relaxed">
          仏教をみつけるボタンでお題が表示される
        </p>
      </div>

      <div class="flex flex-col items-center text-center">
        <%= image_tag "buddhalog_write_image.png",
              class: "mx-auto w-32 rounded-xl shadow-sm" %>

        <p class="text-gray-700 text-base mt-4 leading-relaxed">
          お題にあてはまる場面を日常からみつけて投稿
        </p>
      </div>

      <div class="flex flex-col items-center text-center">
        <%= image_tag "buddhalog_hirameki_image.png",
              class: "mx-auto w-32 rounded-xl shadow-sm" %>

        <p class="text-gray-700 text-base mt-4 leading-relaxed">
          仏教の教えを自分の体験を通じて知ることが出来る<br>
        </p>
        <p class="text-gray-700 text-base mt-4 leading-relaxed">
          タイムラインを通じて他ユーザーの仏教観に触れられる
        </p>
      </div>
    </div>
  </div>
</div>