<% content_for(:title, t('.title')) %>
<div class="bg-[#F4F4F4] min-h-screen w-full">
  <div class="mx-auto px-5 md:px-0 max-w-[480px] md:max-w-7xl">
    <div class="max-w-xl mx-auto pt-10">
      <div class="font-semibold text-xl text-center text-[#2F3A4A]">
        <%= t('.title') %>
      </div>

      <div class="max-w-lg mx-auto mt-5 bg-white p-6 rounded-md shadow">

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "shared/error_messages", object: resource %>
          <%= f.hidden_field :reset_password_token %>
          <div class="space-y-4">
            <div>
              <%= f.label t('.new_password'), class: "text-[#2F3A4A] font-medium" %>
              <%= f.password_field :password, class: "w-full mt-1 px-3 py-1 border border-gray-300 rounded-md", autocomplete: "new-password",  placeholder: "password" %>
            </div>

            <div>
              <%= f.label t('.password_confirmation'), class: "text-[#2F3A4A] font-medium" %>
              <%= f.password_field :password_confirmation, class: "w-full mt-1 px-3 py-1 border border-gray-300 rounded-md", autocomplete: "new-password",  placeholder: "もう一度入力してください" %>
            </div>

            <div class="flex justify-center mt-10 space-x-4">
              <%= f.submit t('.submit'), class: "bg-[#E3A83A] text-white font-medium py-2 px-6 rounded-none shadow-sm hover:bg-[#cc972f]" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
