<% content_for(:title, t('.title')) %>
<div class="bg-[#F4F4F4] min-h-screen w-full">
  <div class="mx-auto px-5 md:px-0 max-w-[480px] md:max-w-7xl">
    <div class="max-w-xl mx-auto pt-10">
      <div class="font-semibold text-xl text-center text-[#2F3A4A]">
        <%= t('.title') %>
      </div>

      <div class="max-w-lg mx-auto mt-5 bg-white p-6 rounded-md shadow">
          <p class="text-center text-sm text-gray-600 mb-5"> 登録されたメールアドレスを入力してください </p>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "shared/error_messages", object: resource %>
            <div class="space-y-4">
              <div class="field">
                <%= f.label t('.email'), class: "text-[#2F3A4A] font-medium" %>
                <%= f.email_field :email, class: "w-full mt-1 px-3 py-1 border border-gray-300 rounded-md", autocomplete: "email", placeholder: "example@email.com" %>
              </div>

              <div class="flex justify-center mt-10 space-x-4">
                <%= f.submit t('.submit'), class: "bg-[#E3A83A] text-white font-medium py-2 px-6 rounded-none shadow-sm hover:bg-[#cc972f]" %>
              </div>
          <% end %>
      </div>
    </div>
  </div>
</div>