<header class="sticky top-0 z-50 bg-white shadow-sm">
  <div class="
      mx-auto px-4 py-4 flex items-center justify-between
      max-w-[480px] md:max-w-7xl
  ">
    
    <!-- 左側: ロゴ -->
    <div>
      <%= link_to t('.buddhalog'), root_path,
            class: "text-sm md:text-2xl font-bold text-[#2F3A4A] whitespace-nowrap" %>
    </div>

    <!-- 右側ナビ -->
    <nav class="flex items-center space-x-3 md:space-x-6 text-sm md:text-base">

      <%= link_to t('.timeline'), posts_path,
      class: "text-[#2F3A4A] text-xs md:text-base font-medium hover:text-[#E3A83A] transition whitespace-nowrap inline-flex items-center py-1.5
              #{ 'border-b-2 border-[#E3A83A] text-[#E3A83A]' if current_page?(posts_path) }" %>


      <% if user_signed_in? %>

      <%= link_to t('.books'), books_path,
      class: "text-[#2F3A4A] text-xs md:text-base font-medium hover:text-[#E3A83A] transition whitespace-nowrap inline-flex items-center py-1.5
              #{ 'border-b-2 border-[#E3A83A] text-[#E3A83A]' if current_page?(books_path) }" %>

        <div data-controller="ui--dropdown" class="relative">
          <button
            type="button"
            data-action="click->ui--dropdown#toggle click->ui--dropdown#hide"
            class="cursor-pointer inline-flex justify-center gap-x-1.5
                   rounded-md bg-white px-2 py-1.5 md:px-3 md:py-2
                   text-xs md:text-sm font-medium text-[#2F3A4A]
                   shadow-xs ring-1 ring-gray-400 hover:bg-gray-50 whitespace-nowrap"
          >
            MENU
          </button>

          <div
            data-ui--dropdown-target="menu"
            class="hidden absolute right-0 mt-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 transition transform"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <div class="py-1">
              <%= link_to t('.my_page'), mypage_path,
              class: "block px-4 py-2 text-sm hover:bg-gray-100
                      #{ 'text-[#E3A83A] font-semibold' if current_page?(mypage_path) }" %>

              <%= link_to t('.reaction_posts'), reactions_path,
              class: "block px-4 py-2 text-sm hover:bg-gray-100
                      #{ 'text-[#E3A83A] font-semibold' if current_page?(reactions_path) }" %>

              <%= link_to t('.mine_posts'), mine_posts_path,
              class: "block px-4 py-2 text-sm hover:bg-gray-100
                      #{ 'text-[#E3A83A] font-semibold' if current_page?(mine_posts_path) }" %>

              <%= link_to t('.logout'), destroy_user_session_path,
                    data: { turbo_method: "delete" },
                    class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" %>
            </div>
          </div>
        </div>

      <% else %>
        <%= link_to t('.sign_up'), new_user_registration_path,
              class: "text-[#2F3A4A] text-xs md:text-base font-medium hover:text-[#E3A83A] transition whitespace-nowrap inline-flex items-center py-1.5
              #{ 'border-b-2 border-[#E3A83A] text-[#E3A83A]' if current_page?(new_user_registration_path) }" %>

        <%= link_to t('.login'), new_user_session_path,
              class: "text-[#2F3A4A] text-xs md:text-base font-medium hover:text-[#E3A83A] transition whitespace-nowrap inline-flex items-center py-1.5
              #{ 'border-b-2 border-[#E3A83A] text-[#E3A83A]' if current_page?(new_user_session_path) }" %>

      <% end %>
    </nav>
  </div>
</header>
