<%= link_to post_path(post), class: "block" do %>
  <div class="bg-white shadow-sm rounded-lg p-3 border border-gray-100">

    <div class="flex items-center gap-3 text-sm font-semibold text-[#2F3A4A]">
      <span><%= post.theme.title %></span>
        <% if post.image.attached? %>
          <%= image_tag "file_icon.png", class: "w-5 h-5 inline-block " %>
        <% end %>
    </div>

    <div class="mt-2 text-sm text-[#1C1C1C] leading-snug line-clamp-2">
      <%= post.content.truncate(40) %>
    </div>

    <div class="mt-2 text-[10px] text-gray-500 text-right">
      <%= l(post.created_at, format: :long) %>
    </div>
                
  </div>
<% end %>
