<% content_for(:title, t('.title')) %>
<div class="bg-[#F4F4F4] min-h-screen w-full">
  <div class="mx-auto px-5 md:px-0 max-w-[480px] md:max-w-7xl">
      <div class="max-w-xl mx-auto pt-10">
        <div class="bg-white p-5 md:p-10 rounded-md shadow max-w-xl mx-auto">
          <div class="flex justify-center items-center space-x-3 text-center font-medium">
            <p><%= @user.name %> さん</p>

            <%= link_to edit_user_registration_path,
                class: "inline-flex items-center
                        rounded-md border border-gray-300
                        bg-white px-3 py-1
                        text-xs text-gray-700
                        hover:bg-gray-100
                        hover:border-gray-400
                        transition" do %>
              編集
            <% end %>
          </div>

            <div class="mt-5 mb-5 md:mt-10 md:mb-15 simple-calendar bg-white rounded-xl shadow-sm border border-gray-200 overflow-hidden">
              <%= month_calendar attribute: :created_at, events: @calendar_posts do |date, posts_for_day| %>
                <div class="flex flex-col items-start justify-start h-full space-y-1">
                  
                  <span class="inline-block px-1 
                              text-[10px] md:text-[11px] 
                              text-[#2F3A4A] rounded">
                    <%= date.day %>
                  </span>

                  <% if posts_for_day.any? %>
                    <% post = posts_for_day.first %>
                    <%= link_to post_path(post),
                          class: "inline-block 
                                  px-1 py-[1px] 
                                  text-[9px] 
                                  bg-[#E9B25A] text-white font-semibold 
                                  rounded-sm truncate
                                  max-w-[55px] md:max-w-[80px]" do %>
                      <%= post.theme.title %>
                    <% end %>

                  <% end %>
                </div>
              <% end %>
            </div>

          <div class="flex justify-center space-x-4">
            <%= link_to t('.discover_buddhism'), new_post_path, class: "bg-[#E3A83A] text-center text-white font-medium py-2 w-full rounded-md shadow-sm hover:bg-[#cc972f] transition" %>
          </div>
        </div>

        <div class="font-semibold text-xl text-left text-[#2F3A4A] pt-10 md:pt-20">
          <%= t('.post_list') %>
        </div>
        <div class="space-y-3 pt-4">
          <% @posts.each do |post| %>
            <%= render 'shared/post_card', post: post %>
          <% end %>

          <% if @posts.size == 5 %>
            <div class="mt-7 pb-10">
              <%= link_to mine_posts_path,
                  class: "block w-full text-center bg-white border border-black text-black font-normal py-2 rounded-md hover:bg-gray-50 transition" do %>
                    <span><%= t('.to_index') %></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>