<% content_for(:title, t('.title')) %>
<div class="bg-[#F4F4F4] min-h-screen w-full">
  <div class="mx-auto px-5 md:px-0 max-w-[480px] md:max-w-7xl">
      <div class="max-w-xl mx-auto pt-10">
        <div class="bg-white p-6 rounded-md shadow max-w-xl mx-auto">
          <div class="text-center font-medium">
            <div class="flex justify-center items-center space-x-2 space-y-1 text-center font-medium">
              <p><%= @user.name %> さん</p>
              <%= link_to edit_user_registration_path do %>
                <%= image_tag "pencil_icon.svg", class: "w-4 h-6 inline-block hover:opacity-50 transition" %>
              <% end %>
            </div>
          </div>

          <div class="flex justify-center mt-10 space-x-4">
            <%= link_to t('.discover_buddhism'), new_post_path, class: "bg-[#E3A83A] text-white font-medium py-2 px-6 rounded-none shadow-sm hover:bg-[#cc972f] transition" %>
          </div>
        </div>

        <div class="font-semibold text-xl text-left text-[#2F3A4A] pt-20">
          <%= t('.post_list') %>
        </div>
        <div class="space-y-3 pt-4">
          <% @posts.each do |post| %>
            <%= render 'shared/post_card', post: post %>
          <% end %>
          <div class="mt-7">
          <%= link_to mine_posts_path,
              class: "block w-full text-center bg-white border border-gray-400 text-[#2F3A4A] font-normal py-2 rounded-md hover:bg-gray-50 transition" do %>
              <span>もっと見る</span>
          <% end %>
        </div>

      </div>
  </div>
</div>