<div class="bg-[#F4F4F4] min-h-screen">
  <div class="max-w-xl mx-auto pt-30">
    <div class="mt-2 bg-white p-6 rounded-md shadow">
      <div class="space-y-1 text-center font-medium">
        <p><%= @user.name %> さん</p>
      </div>
      <div class="flex justify-center mt-10 space-x-4">
        <%= link_to "仏教をみつける", new_post_path, class: "bg-[#E3A83A] text-white font-medium py-2 px-6 rounded-none shadow-sm hover:bg-[#cc972f] transition" %>
      </div>
    </div>

    <div class="font-semibold text-xl text-left text-[#2F3A4A] pt-20">
      みつけた仏教一覧 
    </div>
    <div class="space-y-4 pt-5">
  <% @posts.each do |post| %>
    <div class="bg-white shadow-md rounded-xl p-5 border border-gray-100">
      
      <!-- テーマ（今日のお題） -->
      <div class="text-sl font-semibold text-[#2F3A4A] tracking-wide">
        <%= post.theme.title %>
      </div>

      <!-- 内容 -->
      <div class="mt-3 text-[#1C1C1C] leading-relaxed whitespace-pre-line">
        <%= post.content %>
      </div>

      <!-- 日付 -->
      <div class="mt-4 text-xs text-gray-500 text-right">
        <%= l(post.created_at, format: :long) %>
      </div>
      
    </div>
  <% end %>
</div>
  </div>
</div>