<% content_for(:title, t('.title')) %>
<div class="bg-[#F4F4F4] min-h-screen">
  <div class="max-w-xl mx-auto pt-10">
    <%= render 'shared/theme', post: @post %>

    <div class="mt-10">
      <%= render "shared/error_messages", object: @post %>
      <%= form_with model: @post do |f| %>
        <%= f.text_area :content, require: true, placeholder: "教えにあてはまる内容を書いてください",
        class: "w-full min-h-[200px] px-4 py-3 bg-white border border-gray-300 rounded-lg shadow-sm placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:border-[#2F3A4A] tresize-vertical"
        %>

        <div class="mt-4">
          <%= f.label :image, "画像", class: "block text-gray-700 font-medium mb-2" %>

          <div class="flex items-center border border-gray-300 rounded-md overflow-hidden">

            <label class="bg-white px-4 py-2 text-sm text-gray-700 border-r border-gray-300 cursor-pointer hover:bg-gray-200">
            <%= t('.select_file') %>
              <%= f.file_field :image,
              accept: Post::ACCEPTED_CONTENT_TYPES.join(","),
              class: "hidden",
              id: "image-upload" %>
            </label>

            <!-- ファイル名表示部分 -->
              <span id="file-name" class="flex-1 px-3 py-2 text-gray-600 text-sm">
                <%= t('.not_selected') %>
              </span>
           </div>
          </div>

          <script>
            document.getElementById("image-upload").addEventListener("change", function(e) {
            const fileName = e.target.files.length > 0 ? e.target.files[0].name : "選択されていません";
            document.getElementById("file-name").textContent = fileName;
            });
          </script>

        <div class="flex items-center space-x-2 pt-10">
          <%= f.check_box :is_anonymous, { class: "scale-140 translate-y-[1.5px] cursor-pointer" }, false, true %>
          <%= f.label :is_anonymous, t('.checking_this_will_display_the_username_on_the_timeline'), class: "text-gray-800 cursor-pointer select-none" %>
        </div>
      
        <div class="flex justify-center pt-15">
          <%= f.submit "送信",
            class: "bg-[#E3A83A] text-white font-medium py-2 px-10 rounded-none shadow-sm hover:bg-[#cc972f] transition" %>
        </div>
      <% end %>
    <div>
  </div>
</div>