<div class="bg-[#F4F4F4] min-h-screen">
  <div class="max-w-xl mx-auto pt-25">
    <div class="my-8 p-7 bg-gradient-to-b from-[#FFF9EC] to-white border border-[#F6E2B3] rounded-2xl shadow-md">
      <div class="text-center mb-6">
        
        <h2 class="mt-3 text-3xl font-semibold text-[#E3A83A] tracking-wide">
          <%= @post.theme.title %>
        </h2>

        <div class="w-20 h-[2px] bg-[#E3A83A] mx-auto mt-3 rounded-full"></div>

        <% if @post.image.attached? %>
          <div class="flex justify-center mt-5">
            <%= image_tag @post.image.variant(resize_to_fill: [500, 300]) %>
          </div>
        <% end %>

        <!-- 画像がある時は mt-10、ない時は mt-6 で調整 -->
        <div class="<%= @post.image.attached? ? 'mt-10' : 'mt-6' %> text-left">
          <%= @post.content %>
        </div>

        <div class="mt-4 text-xs text-gray-500 text-right">
          <%= l(@post.created_at, format: :long) %>
        </div>

      </div>
    </div>
    <div class="mt-2 bg-white p-6 rounded-md shadow mt-10">
      <p class="font-medium">投稿したお題</p>
      <p class="mt-5 whitespace-pre-line"><%= @post.theme.description %></p>
    </div>
  </div>
</div>